<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="aegeanlog" class="ch.qos.logback.core.FileAppender">
        <file>${user.dir}/logs/aegean.log</file>
        <encoder>
            <Pattern>%n%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} %n%msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are by default assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <Pattern>%n%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} %n%msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="com.buraksay.aegean" level="debug" additivity="false">
        <appender-ref ref="aegeanlog" />
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>